<li id ="movie-listed">
  <h4> {{movie.title}} </h4>
<br>
  <img src="{{movie.poster}}" width="220px">
<br>
<br>
  <p> Sinopse: {{movie.sinopse}} </p>
<br>
  <p> Released in: {{movie.year}} </p>
<br>
  <p> Directed by: {{movie.director}} </p>
<br>
  <p> Main Actors: {{movie.actors}} </p>
<br>
  <p> Status: {{movie.status}} </p>
<br>
  <p> Comments: {{movie.comment}} </p>
<br>
  <p> <a href="{{movie.trailer}}" target="_blank"> Link to Trailer Here! </a></p>
</li>
